$basic-font-family: 'Montserrat', sans-serif;
$accent-font-family: 'Fraunces', sans-serif;
$basic-font-size: 14px;
$basic-text-color: #6c7289;
$title-color: #1c232b;
$background-color: #f2ebe3;
$card-background-color: #ffffff;
$button-background-color: #3c8067;
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);